.textField {
	width: 80%;
}

#messages {
	background: #ddd;
	float: right;
	height: 80%;
	width: 85%;
	overflow: auto;
}

#friendlist {
	background: #bbb;
	overflow: auto;
	float: left;
	height: 80%;
	width: 15%;
}

#textField {
	background: #ccc;
	height: 20%;
	width: 100%;
}

select {
	width: 100%;
	height: 100%;
}