body {
	margin: 0px;
	padding: 0px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	line-height: 1;
}

#superContainer {
	height: 100%;
	overflow: hidden;
}

#headlineContainer {
	height: 10%;
	padding-left: 44px;
	padding-bottom: 70px;
}

#containerWithoutHeadline {
	height: 90%;
}

#chat {
	height: 100%;
	padding-right: 30px;
}

#friendlistAndMessagesContainer {
	height: 90%;
}

#friendlist {
	height: 100%;
	overflow: auto;
}

#messages {
	height: 100%;
	overflow: auto;
}

#remoteVideo {
	position: fixed;
	top: 10%;
	left: 29%;
	z-index: 99;
}

#localVideo {
	position: fixed;
	z-index: 99;
	top: 10%;
	left: 68%;
}

#addFriendAndSendMessageContainer {
	height: 10%;
}

.headline {
	background: rgb(219, 220, 226);
}

#contactsHeadline {
	background: rgb(219, 220, 226);
	color: #111;
}

small {
	font-size: 75%;
	margin-left: 15px;
}

.newMessage {
	background-color: #ffdddd;
}

.glyphicon:empty {
	width: 20px;
}

.online {
	color: #66dc77;
}

a {
	font-size: 15px;
}

.panel {
	padding: 5px;
	margin: 1px;
	word-wrap: break-word;
}

.panel-body {
	background: inherit;
}

.panel-info {
	padding: 0;
	border: none;
	background: #f4f8fa;
}

.panel-success {
	padding: 0;
	border: none;
	background: #f4fff8;
}

#alertError {
	position: absolute;
	left: 50%;
	z-index: 1;

	width: 75%;
}

.popover {
	width: 50%;
}

.popover-title {
	width: 100%;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}