<form data-abide>
	<div class="row">
		<div class="small-12 large-4 column">
			<h1>Login <small>or register</small></h1>

			<label for="username">Username</label>
			<input type="text" id="username" required>
			<small class="error">Name is required and must be a string.</small>

			<label for="password">Password</label>
			<input type="password" id="password" required>
			<small class="error">Name is required and must be a string.</small>

			<div class="row">
				<div class="small-12 column">
					<input id="isNew" type="checkbox"><label for="isNew">this is my first time</label>
				</div>
			</div>

			<button type="submit" class="small-12">
				<span class="login">Login</span>
				<span class="register hide">Register</span>
			</button>
		</div>
	</div>
</form>
