.full-height {
    height: 100% !important;
}

.height-minus-controls {
    height: calc(100% - 150px);
}

.controls {
    height: 50px;
}

#messages {
    overflow-y: scroll;
}

#messageField {
    max-width: 100%;
}

