.full-height {
    height: 100% !important;
}

.height-minus-controls {
    height: calc(100% - 150px);
}

.controls {
    height: 50px;
}

#messages {
    overflow-y: scroll;
}

#messageField {
    max-width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}

h1 {
	background: rgb(219,220,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(219,220,226,1) 0%, rgba(221,223,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,220,226,1)), color-stop(100%,rgba(221,223,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(219,220,226,1) 0%,rgba(221,223,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(219,220,226,1) 0%,rgba(221,223,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(219,220,226,1) 0%,rgba(221,223,227,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(219,220,226,1) 0%,rgba(221,223,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdce2', endColorstr='#dddfe3',GradientType=0 ); /* IE6-9 */
	text-align: left;
	padding: 10px;
	margin: 0px;
}

#login {
	padding: 1%;
}

#mute {
	position: absolute;
	top: 0;
	left: -60;
}

.newMessage {
	color: red;
	background-color: #ffdddd;
}

.contactList {
	border-bottom: 1px solid gray;
	float: left;
	width: 100%;
}

.icon{
	background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yO/r/Jsxaj6wDwuy.png);
	background-repeat:no-repeat;
	background-size:auto;
	background-position:-840px -402px;
}

.contactDiv {
	width: 90%;
	float: right;
}

.iconDiv {
	width: 10%;
	float: left;
	text-align: center;
}

.active {
	background-color: #f3f3f3;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
